.planet img {
    width: 100%;
}

.row.mb{
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 3px 2px 15px -3px #000000;
}

.text h3, .analise h3 {
    font-size: 24px;
    text-decoration: underline;
    margin-bottom: 15px;
    text-align: center;
}

.text p, .analise p {
    padding: 5px;
    text-align: justify ;
}

.analise p {
    font-size: 18px;
}
