.principalImg {
    padding: 15px;
}

.principalImg img {
    box-shadow: 3px 2px 15px -3px #000000;
}

.text h3 {
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}

.text p {
    padding: 5px;
    text-align: justify;
}

.text {
    margin-bottom: 15px;
}

.finalText {
     border-top: 1px solid black;
    padding: 5px;
    padding-top: 10px;
    text-align: right;
    font-weight: 600;
}