@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;0,600;0,700;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
}

nav {
    background: rgb(0, 0, 0);
    height: 45px;
}

nav i {
    color: white;
}

nav .col a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    text-align: center;
    line-height: 40px;
}

nav .col {
    text-align: center;
}

.container {
    margin-top: 30px;
    margin-bottom: 40px;
}

.col {
    margin-bottom: 20px;
}

.col .firstRow {
    border: 1px solid rgba(153, 153, 153, 0.705);
    box-shadow: 3px 2px 15px -3px #000000;
    border-radius: 10px;
    padding: 10px;
}

.col .firstRow a {
    font-size: 18px;
    color: black;
    text-align: center;
    text-decoration: underline;
}

.col .firstRow  h3 {
    font-size: 20px;
    color: black;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}

.col .firstRow p {
    text-align: justify;
    padding: 5px;
    margin-bottom: 8px;
}

.col .newUpdate {
    background: rgb(255, 248, 243);
}

.col .secondRow {
    font-size: 20px;
    border: 1px solid rgba(153, 153, 153, 0.705);
    box-shadow: 3px 2px 15px -3px #000000;
    padding: 15px 30px 30px 30px;
    text-align: center;
    border-radius: 10px;
}

.col .secondRow h3 {
    color: rgb(21, 21, 80);
}

.col .secondRow i {
    color: rgb(12, 12, 39);
}

.col .thirdRow {
    border: 1px solid rgba(153, 153, 153, 0.705);
    box-shadow: 3px 2px 10px -3px #000000;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-top: 5px;
    background: rgb(12, 12, 39);
}

.col .thirdRow a {
    text-decoration: none;
    color: white;
}

footer {
    height: 45px;
    background-color: black;
}

footer .copy {
    text-align: center;
    color: white;
    padding-top: 10px;
}
